@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.description {
  display: block;
  max-height: 80px;  /* Adjust for 3 lines */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;  /* Smooth transition for expanding/collapsing */
}

.description.expanded {
  max-height: 1000px;  /* Arbitrarily large value to accommodate expanded content */
}

.description p {
  margin: 0;  /* Remove default margin from <p> elements to ensure the text fits within the max-height */
}

@media (min-width: 320px) {
  .xs\:flex-row {
      flex-direction: row;
  }
}